<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header-fragment">
   <div id="container">
        <section id="header">
            <!-- 헤더 로고 -->
            <div class="logoWrap"></div>
            <div class="header_logo"> 
                <a th:href="@{/main}"><img class="header_logo_pic" src="/images/header/logo_icon.png"></a>
            </div>

            <!-- 헤더 메뉴 -->
            <div class="top_menu">
                <div class="top_menuWrap">
                    <a th:href="@{/job/job_main}">채용공고 지원</a>
                    <a href="">이력서 등록</a>
                    <div class="top_dropdown">
                        <a href="">커뮤니티</a>
                        <div class="top_dropdown-options">
                            <a th:href="@{/board/list}">공지사항</a>
                            <a th:href="@{/board/list}">QNA</a>
                            <a th:href="@{/board/list}">자유게시판</a>
                            <a th:href="@{/rboard/list}">리뷰</a>
                        </div>
                    </div>
                    <a href="">문의상담</a>
                </div>
            </div>

            <!-- 헤더 로그인/회원가입 -->
            <div class="login">
                <i class="fa-solid fa-user"></i>
                <div class="login_b">
                    <a th:href="@{/member/login}">로그인</a> |
                    <a th:href="@{/member/identity}">회원가입</a> |
                    <a th:href="@{/member/mypage}">마이페이지</a>
                </div>
            </div>
        </section>
    </div>
</header>
</html>