<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>메인 페이지</title>
<link rel="stylesheet" th:href="@{/css/footer.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<script src="https://kit.fontawesome.com/630c352365.js" crossorigin="anonymous"></script>

</head>
<body>
	<div th:replace="~{header::header-fragment}"></div>

	<div id="container">
        
        <div id="mid">
        
            <section id="mid_top">
               
               
               
               
            </section>








            <section id="mid_mid">
            
            </section>
            
            <section id="mid_bottom">
            
            </section>

        </div>

	</div>
	
	<div th:replace="~{footer::footer-fragment}"></div>

</body>
</html>