@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Medium';
    src: url(Pretendard-Medium.woff)format('woff');
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url(Pretendard-Regular.woff)format('woff');
}
@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url(Pretendard-SemiBold.woff)format('woff');
}

/* 공통 스타일 */
*{margin: 0; padding: 0; font-family: 'Pretendard-Medium';}
#container{width: 100%;}
ul li{list-style: none;}
a{text-decoration: none;}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  section.notice {
    margin: 0 auto; 
	width:75%;
	padding-bottom: 150px;
  }
  @media screen and (min-width: 1280px) {
     section.notice{width: 900px;}
 }
  
  
  .notice h3{
    margin: 8% 0 5% 0;
    font-size: 30px;
    font-weight: 600;
}
  
  .board-menu {
    padding-bottom: 20px;
    border-bottom: 2px black solid;
  }
  
  .board-menu a {
   	text-decoration: none;
    color: #c2baba;
    font-size: 20px;
    margin-left: 15px;
    font-family: 'Pretendard-SemiBold';
    display: flex;
    align-items: flex-end;
  }
  .board-menu a:hover{color: #8f8b8b;}
  
  .menu-link.checked {
    color: black;
  }
  .notice #circle {
  	width: 7px;
    height: 7px;
    background: rgb(228, 54, 47);
    border-radius: 100%;
  }
  .board > div{
  	display: flex;
  	height: 30px;
  }
  .board > div > div{
  	width: 7px;
    height: 7px;
  }

  .board-title h3 {
    height: 20px;
    margin: 50px 0px;
    font-size: 60px;
    font-weight: bold;
    text-align: left;
    color: #000000;
  }
  
  
  .board-table {
    font-size: 15px;
  }
  
  .board-table th{
    border-bottom: 1px solid #ccc;
  }
  
  .board-table td {
    border-bottom: 1px solid #ccc;
  }
  
  .board-table td a{
    text-decoration: none;
  }
  
  .board-table .th-num {
    width: 120px;
  }
  
  .board-table .th-title {
    width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* 긴 제목에 대한 처리 */
  }
  
  .board-table .th-id {
    width: 150px;
  }
  
  .board-table .th-date {
    width: 150px;
  }
  
  .board-table .th-hit {
    width: 100px;
  }
  
  .board-table th,
  .board-table td {
    padding: 12px 0;
    text-align: center;
  }
  
  
  
  .board {
    display: flex;
    width: 100%;
  }
  
  .blind {
    position: absolute;
    margin: -1px;
    width: 1px;
    height: 1px;
  }
  
  
  /* 리뷰 게시판 */
  section.review {
    margin: 0 auto; 
	width:75%;
	padding-bottom: 150px;
  }
  @media screen and (min-width: 1280px) {
     section.review{width: 900px;}
 }
  .review h3{
  	margin: 8% 0 5% 0;
    font-size: 30px;
    font-weight: 600;
  }
  .review #circle{
  	width: 7px;
    height: 7px;
    background: rgb(228, 54, 47);
    border-radius: 100%;
  }

  .review-list {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 20px 0 10px 0;
    border-bottom: 1.5px #ccc solid;
  }
  
  .p1{
    font-size: 14px;
    color:#a19f9f;
    font-weight: bold;
  }
  .p2, .sp1, .sp2, .sp3{
    font-size: 14px;
    color:#ccc;
    margin-left: 20px;
  }
  
  .review-title a {
    text-decoration: none;
    color: inherit;
    font-size: 19px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .review-title p{
  	margin-bottom: 15px;
  }
  .review .review-content p{
  	margin-bottom: 35px;
  }

  .review-profile{
    position: relative;
  }

  .profile{
    width: 300px;
    height: 25px;
    line-height: 25px;
    position: absolute;
    left: 4%;
    top: 0;
}
.review_img{
	position: absolute;
	right: 10px;
	bottom: 0;
}
.review_img img{
	border-radius: 5px
}
.profile_img{
	width: 25px;
	height: 25px;
}
.review-title, .review-content p, .review-profile{
	margin-left: 10px;
}
  

/* 일반 검색 */
.search-container {
  display: flex;
  margin-top: 50px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  border: 2px solid #cabebe;
  overflow: hidden;
  height: 40px;
  margin: 0 auto;
  border-radius: 8px;
}

#search-input {
  padding: 40px;
  font-size: 16px;
  border: none;
  outline: none;
}

#search-select {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  outline: none;
}

#write {
    padding: 0 20px;
    font-size: 16px;
    cursor: pointer;
    height: 40px;
    border: none;
    background: rgb(107, 107, 230);
    color: white;
    border-radius: 8px;
}

#search-button {
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  align-items: center;
  background-color: white;
  color: black;
  display: flex;
}

#search-button i {
  margin-right: 5px;
}


/* 리뷰 검색 */
#write1 {
  padding: 0 20px;
  font-size: 16px;
  cursor: pointer;
  height: 42px;
  border: none;
  background: rgb(107, 107, 230);
  color: white;
  border-radius: 8px;
}
.input-wrapper1 {
  display: flex;
  align-items: center;
  border: 2px solid #cabebe;
  overflow: hidden;
  height: 40px;
  border-radius: 8px;
  margin: 0 auto;
}



/* 상세보기 */
.detail {
	width: 60%;
    margin: 80px auto 150px auto;
}
@media screen and (min-width: 1280px) {
     .detail{width: 800px;}
 }
.detail h3{
	font-size: 30px;
    font-weight: 600;
    margin: 8% 0 5% 0;
}
.detail-profile {
	display: flex;
	border-bottom: 1.5px solid #ccc;
	height: 40px;
}
.profile1{
	width: 300px;
    height: 25px;
    line-height: 15px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.detail_img{
	display: flex;
    justify-content: center;
    margin: 20px 0;
}

.detail-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 25px;
}
.detail-title p{
	text-align: center;
}
.detail-content {
	width: 90%;
    margin: 0 auto;
}
.detail_emoji{
	margin-top: 20px;
}

.detail-list {
 	padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
    
.pp1{
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 3px;
}

.pp2{
  font-size: 14px;
  color:#ccc;
}

.detail-img{
	width: 90%;
	height: auto;
	border-radius: 5px;
}

.sp4{
  font-size: 16px;
  color: #ccc;
}

.sp5, .sp6{
  font-size: 16px;
  color:#ccc;
  margin-left: 14px;
}

.reply{
  display: flex;
  width: 90%;
  margin: 20px auto 0 auto;
}

.write_img{
  width: 30px;
  height: 30px;
}

#reply-input {
  width: 90%;
  height: 37px;
  display: inline-block;
  vertical-align: top;
  border-radius: 8px;
  border: 2px solid #d6d3d3;
  margin-left: 10px;
  text-indent: 10px;
}

#reply-write {
  	cursor: pointer;
	height: 37px;
	width: 70px;
	border: none;
	background: rgb(107, 107, 230);
	color: white;
	border-radius: 8px;
	margin-left: 5px;
	font-size: 16px;
}
.reply-write {
	display: flex;
	width: 100%;
}

.reply-title span{
	color: #6C7AEF;
}

.reply-list{
  border-bottom: 1px solid #ccc;
  margin-top: 20px;
  width: 90%;
  margin: 10px auto 0 auto;
}

.reply-profile {
  display: flex;
  align-items: center;
}

.detail_reply{
	width: 90%;
    margin: 20px auto 15px auto;
}

.p3{
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
}

.reply-content{
  margin: 0 0 3px 28px;
  font-size: 12px;
}

.reply-content p{
	margin: 5px 0 7px 0;
	font-size: 15px;
}

#write2 {
    width: 70px;
    font-size: 16px;
    cursor: pointer;
    height: 35px;
    border: none;
    background: rgb(107, 107, 230);
    color: white;
    border-radius: 8px;
    margin-top: 15px;
}

.pp3{
	font-size: 14px;
}

.list_btn{
	display: flex;
    flex-direction: row-reverse;
    width: 90%;
    margin: 0 auto;
}


/* 게시글 작성 */
.board-write{
  	margin: 0 auto; 
	width:75%;
	padding-bottom: 150px;
  }
 @media screen and (min-width: 1280px) {
     .board-write{width: 900px;}
 }
.board-write h3{
	margin: 8% auto 5% auto;
    font-size: 30px;
    font-weight: 600;
    width: 80%;
}

.board-write #board-write-form{
    width: 80%;
    margin: 50px auto 0 auto;
}

.board-write #board-write-form p{
	font-family: 'Pretendard-SemiBold';
    font-size: 19px;
    margin: 30px 0 10px 0;
}
.board-write #board-write-form span{
	font-size: 15px;
}
.board-write .write-title p, .board-write .write-content p {
	margin-top: 50px !important;
}
.board-write .write_pic p:nth-of-type(2){
	margin: 0 0 10px 2px !important;
    font-size: 15px !important;
    color: #898888;
    font-family: 'Pretendard-Medium' !important;
}
.write_pic img {
	border-radius: 5px;
}
.write_pic > div {
    display: flex;
    align-items: flex-start;
}

#category {
	width: 100%;
    height: 35px;
    border-radius: 8px;
    font-size: 16px;
    text-indent: 10px;
}

#title-input {
  	border: none;
	border-bottom: 1px solid #ccc;
	width: 100%;
	height: 30px;
	padding: 5px;
	box-sizing: border-box;
	outline: none;
	text-indent: 10px;
}

#content-input{
  width: 100%;
  height: 150px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 0;
  box-sizing: border-box;
  text-align: start;
  padding: 20px;
  resize: none;
}
#board_write_btns{
	display: flex;
    justify-content: center;
    margin-top: 40px;
}
#w1 {
  padding: 0 40px;
  font-size: 17px;
  cursor: pointer;
  height: 40px;
  border: none;
  background: rgb(107, 107, 230);
  color: white;
  border-radius: 8px;
  margin-right: 40px;
}

#w2 {
  padding: 0 50px;
  font-size: 17px;
  cursor: pointer;
  height: 40px;
  border: none;
  background: rgb(107, 107, 230);
  color: white;
  border-radius: 8px;
}

#w3 {
  width: 80px;
  font-size: 16px;
  margin-left: 40px;
  cursor: pointer;
  height: 30px;
  border: none;
  background: rgb(107, 107, 230);
  color: white;
  border-radius: 8px;
}

#w4 {
  width: 80px;
  font-size: 16px;
  margin-left: 20px;
  cursor: pointer;
  height: 30px;
  border: none;
  background: rgb(107, 107, 230);
  color: white;
  border-radius: 8px;
}

/* 리뷰 글쓰기 */

