@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Medium';
    src: url(Pretendard-Medium.woff)format('woff');
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url(Pretendard-Regular.woff)format('woff');
}
@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url(Pretendard-SemiBold.woff)format('woff');
}

/* 공통 스타일 */
*{
  margin: 0;
  padding: 0;
  font-family: 'Pretendard-Medium';
  box-sizing: border-box;
}
#container{width: 100%;}
ul li{list-style: none;}
a{text-decoration: none;}

#mid {
	padding-bottom: 150px;
}
#mid #mid_top{
	position: relative;
}
#mid #mid_top img{
	width: 100%;
    height: 275px;
    object-fit: cover;
}
#mid #mid_top #login_box{
	position: absolute;
    width: 270px;
    height: 230px;
    background: #FFFFFF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    top: 20px;
    right: 20px;
    padding: 17px;
}
#mid #mid_top #announce_box{
	position: absolute;
    width: 400px;
    height: 230px;
    background: #FFFFFF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    top: 20px;
    right: 320px;
    padding: 17px;
    display: flex;
    flex-direction: column;
}
#mid #mid_top .mid_top_subtitle{
	font-size: 16px;
    font-weight: bold;
	}
#mid #mid_top #announce_box p{
	margin: 7px 0 12px 0;
}
#mid #mid_top #announce_box a{
	font-size: 14px;
    margin-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#mid #mid_top #login_box_body01{
	display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
}
#mid #mid_top #login_box_body01 > div:nth-of-type(2){
	display: flex;
    width: 90px;
    border: 2px #CECECE solid;
    border-radius: 20px;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    font-size: 14px;
}
#mid #mid_top .login_identity_selected{
	display: flex;
    background: #4E66FF;
    border-radius: 10px;
    width: 45%;
    height: 81%;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}
#mid #mid_top .login_identity_nonselected{
	color: #737373;
    cursor: pointer;
    width: 45%;
    display: flex;
    justify-content: center;
}
#mid #mid_top #login_box_body02{
	display: flex;
    height: 35%;
    margin-top: 10px;
}
#mid #mid_top #login_box_body02 > div:nth-of-type(1){
	display: flex;
    flex-direction: column;
    border: 1.5px #CECECE solid;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 65%;
}
#mid #mid_top #login_box_body02 > div:nth-of-type(1) input{
	border: none;
    height: 100%;
    width: 100%;
    text-indent: 8px;
    outline-color: #4e66ffc9;
}
#mid #mid_top #login_box_body02 > div:nth-of-type(2){
	width: 35%;
}
#mid #mid_top #login_box_body02 > div:nth-of-type(1) > div:nth-of-type(1){
	border-bottom: 1.5px #CECECE solid;
	height: 50%;
}
#mid #mid_top #login_box_body02 > div:nth-of-type(1) > div:nth-of-type(2){
	height: 50%;
}
#mid #mid_top #login_box_body02 button{
	height: 100%;
    width: 100%;
    border: 1.5px #CECECE solid;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px
}
#mid #mid_top #login_box_body03{
	display: flex;
    margin: 8px 0 8px 4px;
}
#mid #mid_top #login_box_body03 p{
	font-size: 14px;
    color: #737373;
    margin-left: 8px;
    font-family: 'Pretendard-SemiBold';
}
#mid #mid_top #login_box_body04{
	margin-top: 25px;
    border-top: 1.5px #CECECE solid;
}
#mid #mid_top #login_box_body04 > div{
    margin-top: 14px;
    font-size: 14px;
    display: flex;
    color: #737373;
    justify-content: space-evenly;
}
#mid #mid_top #login_box_body04 > div > a{
	color: #737373;
}







/* ***************************** */

/* mid_mid*/

#mid_mid{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prod-list{
  margin: 100px auto;
  list-style: none; /* 목록 스타일 제거 */
  justify-content: space-between;
  padding: 0;
  width: 90%;
}

.prod-list li{
  float: left;
  margin: 5px 10px;
  position: relative;
  overflow: hidden;
}

.prod-list img{
  float: left;
} 

.prod-list .caption{
  width: 550px;
  height: 400px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  position: absolute;
  top: 200px;
  transition: all 0.6s;
}

.prod-list li:hover .caption{
  transform: translateY(-200px);
}

.prod-list .caption h2, .caption p{
  text-align: center; line-height: 2;
  padding: 10px;
}

.R_img{
  border-radius: 10px;
  width: 550px;
  height: 400px;
}

.R_detail{
  padding: 10px 50px;
  background-color: #ff5500;
  color: #fff;
  border-radius: 10px; 
}

/* mid_bottom */

#mid_bottom{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review_list{
  margin: 100px auto;
  list-style: none; /* 목록 스타일 제거 */
  justify-content: space-between;
  display: flex;
  padding: 0;
  width: 90%;
}

.review_img{
  border-radius: 10px;
  width: 550px;
  height: 250px;
}

.review_caption{
  font-size: small;
}
